@charset "UTF-8";

#wrap {
 	margin: auto;
	width : 70%;
	height: 100vh;
	margin-top: 5vw;
	margin-bottom: 5vw;
 }
 h3 {
	font-family: 'Gugi', cursive;
 }
 .insert-btn {
	text-align: center;
	margin-top: 10px;
 }
 .submit-btn {
	border-radius: 4px;
	border-color: #3498DB;
	padding: 3px 10px;
	cursor: pointer;
	color: white;
	background-color: #3498DB;
}

.cnxl-btn {
	border-radius: 4px;
	padding: 3px 10px;
	cursor: pointer;
	color: white;
	background-color: #666;
}
.title-input {
	width: 100%
}
.title-div {
	margin-bottom: 5px;
}