body {
	background-color: #f8f9fa;
}
#wrap {
 	margin: auto;
	width : 60%;
	margin-top: 5vw;
	margin-bottom: 5vw;
 }
#board-nav{
 	text-align: center;
 	margin-bottom: 50px;
 }
 #board-nav a {
 	background-color:#e0e0e0;
 	color: #ffffff;
 	font-size: 25px;
 	font-family:'BMDOHYEON';
	font-weight: bold;
 	text-align: center;
 	padding: 10px 100px;
 }
#board-nav a:hover {
	color: black; 
	text-decoration: none;
	transition: 2s;
}

.board-con1 {
	 text-align: center;
 }
 
 .baord-con2 {
 	border-top: 2px solid #e0e0e0;
 }

.write-btn{
	background-color: #007bff;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 10px;
	font-family:'BMDOHYEON';
	font-weight: bold;
}
.board-body {
	font-family: '서울남산 정체';
	font-size: 18px;
 	border-top: 1px solid #F0F0F0;
}

.board-title {
	text-align: left;
	
}
.board-title a {
	color: black; 
	text-decoration: none; 
	outline: none;
	
	
}
.board-title a:hover, a:active {
	text-decoration: none; 
	color:#fff; 
	}


.board-tb {
	width: 100%;
	text-align: center;
	border-top: 2px solid #e0e0e0;
}
.board-tb a {
	text-decoration: none;
}

.board-tb th {
	padding-top: 20px;
	padding-bottom: 20px;
}
.board-tb tr:not(:first-child):hover {
	background-color: #ddd;
}
.board-tb td {
	padding: 15px;
}

.paging-div {
	text-align: center;
}
.paging-div a {
	cursor: pointer;
	font-weight: bolder;
}
img {
	position: relative;
	left: 6%; 
	font-weight: bold; 
}
.paging-num {
	padding: 8px;
}
.paging-num:hover {
	background-color: #704de4;
}
 


